#test{
    background-color: #f7f7f7;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    opacity: 0.9;
    margin-bottom: 100px;
}

#test table{
    width:100%;
    -ms-user-select: none;      /* IE 10+ */
   -moz-user-select: none;     /* Firefox all */
   -webkit-user-select: none;  /* Chrome all / Safari all */
   user-select: none; 
}


.code{
    border-radius: 10px;
    margin:10px;
    padding:0 10px 0 10px;
    background-color:#dddddd;
    overflow: auto;
}